html, body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(26, 26, 26);
}

canvas {
  border-radius: 150px;
/*   display: inline-block; */
  margin: 20px;
}

#subtitle {
  /* display: block; */
  /* min-width: 100%; */
  padding: 10px;
  text-align: center;
  color: rgb(142,142,142);
  font-family: "Times padman";
  font-style: italic;
  font-size: 1.4em;
}

#flex-container {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.row {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
